@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  color: var(--headerTextColor);
  top: 0;
  font-size: 30px;
  font-weight: bold;
}

footer {
  color: var(--textColor);
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

header .fa-bars,
footer i {
  margin-right: 10px;
}

header, footer {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
}

footer {
  padding: 16px;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 16px 66px;
}

.header-background {
  margin: -40px;
  filter: blur(8px);
  background: var(--headerBackground);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-top: 66px;
  margin-bottom: 54px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

li {
  padding: 12px;
  border-bottom: 1px solid var(--listDivider);
  margin: 8px;
  position: relative;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: var(--textColor);
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: var(--headerTextColor);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: var(--headerBackground);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  display: flex;
  flex-direction: column;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-overlay,
.bm-menu-wrap {
  top: 0;
}

.bm-item:last-child {
  margin-top: auto;
}

.fa-spinner {
  animation: App-logo-spin infinite 2s linear;
}


.search-hidden input {
  display: none;
}

.search-hidden span {
  display: inline-block;
}


.search-visible input {
  display: inline-block;
}

.search-visible span {
  display: none;
}

input {
  border: 1px solid #9d2053;
  background: rgba(0,0,0,0.4);
  padding: 4px;
  font-size: 25px;
  margin: -4px 0;
  color: var(--textColor);
}

.hidden {
  opacity: 0;
}

#bars {
  display: none;
  height: 26px;
  margin: -22px 0 0 -8px;
  position: absolute;
  width: 40px;
}

#bars.selected {
  display: block;
}

.bar {
  background: #f43b47;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;      
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 28px;        
  }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }