@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header .fa-bars,
footer i {
  margin-right: 10px;
}

header, footer {
  position: fixed;
  left: 0;
  right: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 66px;
  margin-bottom: 54px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

li {
  padding: 12px;
  border-bottom: 1px solid var(--listDivider);
  margin: 8px;
  position: relative;
}

.fa-spinner {
  animation: App-logo-spin infinite 2s linear;
}

.search-hidden input {
  display: none;
}

.search-hidden span {
  display: inline-block;
}

.search-visible input {
  display: inline-block;
}

.search-visible span {
  display: none;
}

input {
  border: 1px solid #9d2053;
  background: rgba(0,0,0,0.4);
  padding: 4px;
  font-size: 25px;
  margin: -4px 0;
  color: var(--textColor);
}

#items-loading {
  margin-left: -25px;
  margin-top: -25px;
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: 50px;
  color: var(--textColor);
}

#bars {
  display: none;
  height: 26px;
  margin: -22px 0 0 -8px;
  position: absolute;
  width: 40px;
}

#bars.selected {
  display: block;
}

.bar {
  background: #f43b47;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;      
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 28px;        
  }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }

#settings {
  position: absolute;
  top: 0;
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11111;
  background: rgba(0,0,0,0.7);
  color: var(--textColor);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#close {
  position: absolute;
  right: 20px;
  color: var(--textColor);
}

.menu {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background: rgba(0,0,0,0.7);
  padding: 20px;
  z-index: 100000;
}

.menu a {
  text-decoration: none;
  display: block;
  color: var(--textColor);
}

.menu a + a {
  margin-top: 12px;
}

button {
  padding: 8px 30px;
  font-size: 18px;
  border: 1px solid #f43a47;
  color: #f43a47;
  background: #9d2053;
}

/* CSS Utils */
.full-width {
  width: 100%;
}

.right {
  float: right;
}

.hidden {
  opacity: 0;
}
