@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header .fa-bars,
footer i {
  margin-right: 10px;
}

header, footer {
  position: fixed;
  left: 0;
  right: 0;
}

.fa-spinner {
  animation: App-logo-spin infinite 2s linear;
}

.search-hidden input {
  display: none;
}

.search-hidden span {
  display: inline-block;
}

.search-visible input {
  display: inline-block;
}

.search-visible span {
  display: none;
}

.menu {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background: rgba(0,0,0,0.7);
  padding: 20px;
  z-index: 100000;
}

.menu a {
  text-decoration: none;
  display: block;
  color: var(--textColor);
}

.menu a + a {
  margin-top: 12px;
}

.ReactModal__Content {
  border-radius: 16px !important;
}


.ReactModal__Overlay {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
  transform: translateY(16%);
  -webkit-transform: translateY(16%);
}

.ReactModal__Overlay--before-close {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}


.swiped {
  transition: all 0.3s ease-in-out;
  transform: translateX(-20%);
}

.delete {
  background: red;
  color: white;
  margin: -21px -103px -19px;
  float: right;
  padding: 17px 15px;
  box-sizing: border-box;
  clear: right;
}

.item-container {
  position: relative;
}
