@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --textColor: rgb(244,59,71);
  --textDefaultColor: rgba(0, 0, 0, 0.8);
  --listDivider: rgba(0, 0, 0, 0.3);
  --headerTextColor: rgb(157,32,83);
  --headerBackground: rgba(52, 25, 49, 0.7);
  --backgroundGradient: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  color: var(--textColor);
  margin-right: 12px;
  font-size: 25px;
}

html {
  color: var(--textDefaultColor);
  background-image: var(--backgroundGradient);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input {
  border: 1px solid var(--headerTextColor);
  background: rgba(0,0,0,0.4);
  padding: 4px;
  font-size: 25px;
  margin: -4px 0;
  color: var(--textColor);
  box-sizing: border-box;
}

button {
  padding: 8px 30px;
  font-size: 18px;
  border: 1px solid #f43a47;
  color: #f43a47;
  background: var(--headerTextColor);
}

button:disabled {
  color: graytext;
  opacity: 0.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus {
  outline: none;
}

::placeholder {
  color: var(--textColor);
  opacity: 0.4;
}
