footer {
    color: var(--textColor);
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
}

footer span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 92%;
    display: inline-block;
}
